    <footer class="background-dark-gray color-white">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Меню</h3>
            <ul class="nav-footer">
              <li><a href="/index.html">Главная</a></li>
              <li><a href="/about.html">О бирже</a></li>
              <li><a href="/copyrighters.html">Для копирайтеров</a></li>
              <li><a href="/clients.html">Для заказчиков</a></li>
              <li><a href="/articles.html">Статьи</a></li>
              <li><a href="/help.html">Справка</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Новости</h3>
              <% Article.order("created_at DESC").limit(3).each do |article| %>
            <p class="testimonial">
              <%= link_to truncate( raw( sanitize(article.text, :tags => %w(table tr td), :attributes => %w(id class style) ) ), :length => 120, :omission => "..."), article %>
            </p>
            <%= link_to "<p class='author'> #{article.user.username}</p>".html_safe, article.user if !article.user.nil? %>
              <% end %>
          </div>

          <%= render '/shared/newquestion' %>

        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <div class="row">
              <div class="col-md-6">
                Все права защищены &copy; 2013 <a href="http://infotechcom.ru" target="blank">ООО "Инфоком-НН"</a>
              </div>
              <div class="col-md-6">
                <p class="social">
                  <a href="/"><span class="fa fa-facebook"></span></a>
                  <a href="/"><span class="fa fa-twitter"></span></a>
                  <a href="/"><span class="fa fa-youtube"></span></a>
                  <a href="/"><span class="fa fa-linkedin"></span></a>
                  <a href="/"><span class="fa fa-pinterest"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>