    <footer class="background-dark-gray color-white">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Меню</h3>
            <ul class="nav-footer">
              <li class="active"><a href="#">Главная</a></li>
              <li><a href="#">О бирже</a></li>
              <li><a href="#">Для копирайтеров</a></li>
              <li><a href="#">Для заказчиков</a></li>
              <li><a href="#">Статьи</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Новости</h3>
            <p class="testimonial">Текст первой новости. Текст первой новости и второе предложение этого текста. Было бы здорово новости закончить.</p>
            <p class="author">Дмитрий Иванов</p>
            <p class="testimonial">Краткое описание второй новости на сайте. Новости берутся из раздела .</p>
            <p class="author">Игорь Васильев</p>
          </div>
          <div class="col-md-5">
            <h3>Задать вопрос</h3>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputName1" class="col-lg-3 control-label">Имя</label>
                <div class="col-lg-9">
                  <input type="text" class="form-control input-lg" id="inputName1" placeholder="Ваше имя">
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-3 control-label">Email</label>
                <div class="col-lg-9">
                  <input type="email" class="form-control input-lg" id="inputEmail1" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputContent1" class="col-lg-3 control-label">Текст</label>
                <div class="col-lg-9">
                  <textarea id="inputContent1" class="form-control" rows="3" placeholder="Текст вопроса"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-3 col-lg-9">
                  <button type="submit" class="btn btn-lead btn-lg">Отправить</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <div class="row">
              <div class="col-md-6">
                Все права защищены &copy; 2013 <a href="http://infotechcom.ru" target="blank">ООО "Инфоком-НН"</a>
              </div>
              <div class="col-md-6">
                <p class="social">
                  <a href="/"><span class="fa fa-facebook"></span></a>
                  <a href="/"><span class="fa fa-twitter"></span></a>
                  <a href="/"><span class="fa fa-youtube"></span></a>
                  <a href="/"><span class="fa fa-linkedin"></span></a>
                  <a href="/"><span class="fa fa-pinterest"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>