<% provide(:title, 'О бирже') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/index.html">Главная</a></li>
      <li class="active">О бирже</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

<section>
  <div class="container">
  	<div class="row">
  	  <div class="col-md-12">
  		  <div class="content">
          <h1>О бирже</h1>
          <p>Наша быржа текстов была создана в 2014 году. Это инновационный продукт, позиционирующий себя в качестве универсальной посреднической площадки между копирайтерами и заказчиками.</p>
          <p>В отличии от многих площадок, продающих контент, мы используем фиксированную цену за статью, в зависимсоти от количества знаков. Кроме того, в обязательные параметры вы можете включить наличие изображений с указанием минимального разрешения.</p>
          <p>Данные нововведения позволяют заказчику лучше структурировать свой бюджет. В свою очередь копирайтеры получают стабильную прибыль от своих услуг. При этом высокий уровень копирайтеров, с которыми мы работаем, подтверждается не только субъективным мнением заказчика статьи, но и автоматической проверкой на наличие плагиата. Кроме того, удобная система коммантариев и возможность просматривать промежуточный результат позволяет заказчику на любом этапе написания контента указать автору на имеющиеся недостатки и потребовать их исправления.</p>
          <p>Биржа текстов - это современный сервис, написанный на Ruby on Rails и использующий опыт множества предшественников в области продажи контента. Мы продолжаем совершенствоваться и будем рады любым вашим замечаниям и предложениям.</p>
          <strong>Группа администрирования сервиса "Биржа текстов"</strong>
        </div>
  	  </div>
  	</div>
  </div>
</section>

	  <%= render '/shared/popular' %>
