<% provide(:title, 'Услуги для клиентов') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/index.html">Главная</a></li>
      <li class="active">О бирже</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

<section>
  <div class="container">
	<div class="row">
	  <div class="col-md-12">
		<div class="content">
            <h1>Услуги для клиентов</h1>
            <p>Текстс страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы.</p>
            <p>Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы, Текст страницы</p>

         </div>
	  </div>
	</div>
  </div>
</section>

	  <%= render '/shared/price' %>