<%= render "/shared/slider" %>

    <!-- Info thumbnails - START -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <a class="info-thumbnail-link" href="/users/sign_in">
            <div class="thumbnail info-thumbnail background-carrot">
              <div class="caption">
                <h3><span class="fa fa-flag color-lead"></span> Для копирайтеров</h3>
                <p class="description">Биржа текстов даёт копирайтерам возможность заработать реальные деньги за свой труд. При этом совершенно не обязательно лично общаться с заказчиком. Благодаря посредничеству нашего сервиса вы можете получать <strong>заказы на написание контента</strong> в режиме 7/24.</p><button type="button" class="btn btn-success btn-lg">Стать копирайтером</button>
              </div>
            </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-6">
            <a class="info-thumbnail-link" href="/users/sign_in">
            <div class="thumbnail info-thumbnail background-lead-light">
              <div class="caption">
                <h3><span class="fa fa-group"></span> Для заказчиков</h3>
                <p class="description">Для пользователей, работающих с контентом, важно своевременно размещать новую информацию. Будь то сайт компании, корпоративный или личный блог, новостное или тематическое издание. <strong>Найти</strong> подходящего <strong>копирайтера</strong> очень сложно. На нашем сервисе вы можете выбрать копирайтера из огромной базы и заказать статью у профессионала, чьи стиль и манера речи вас устраивают.</p>
                <button type="button" class="btn btn-success btn-lg">Стать заказчиком</button>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- Info thumbnails - END -->


    <!-- Info row - START -->
    <section class="background-clouds">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="info-row">
              <div class="content info">
                <h1 class="info-head">О бирже</h1>
                <p>Биржа текстов - это посреднический сервис, чьей задачей является <strong>связать потенциальных заказчиков контента и копирайтеров</strong>, готовых писать статьи по различным тематикам. Кроме того, на нашем портале вы можете <strong>купить готовый текст</strong> из базы статей. Доступные цены и удобство интерфейса позволяет копирайтерам и заказчикам легко и быстро получать желаемый результат.</p>
              </div>
              <div class="content link">
                <a href="/about.html" class="btn btn-lead btn-lg pull-right">Читать полностью</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Info row - END -->

<%= render "/shared/price" %>

    <!-- Info thumbnails - START -->
    <section>
      <div class="container">
        <h1>Инструкции для копирайтеров и заказчиков</h1>
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail with-icon background-clouds color-black">
              <img src="/img/img1.jpg" alt="...">
              <div class="icon">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x color-alizarin"></i>
                  <i class="fa fa-flag fa-stack-1x color-white"></i>
                </span>
              </div>
              <div class="caption">
                <h3><span class="fa fa-flag color-alizarin"></span> Для копирайтеров</h3>
                <p class="description">Представляем краткий курс обучения по использованию сервиса "Биржа текстов" для копирайтеров. .</p>
                <p class="buttons"><a href="/services/copyrighters.html" class="btn btn-lead">Read more</a></p>
              </div>
            </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="info-thumbnail-link">
            <div class="thumbnail info-thumbnail with-icon background-carrot">
              <img src="/img/img2.jpg" alt="...">
              <div class="icon">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x color-emerald"></i>
                  <i class="fa fa-flag fa-stack-1x color-white"></i>
                </span>
              </div>
              <div class="caption">
                <h3>Для заказчиков</h3>
                <p class="description">You can use template elements as you have them in the examples but if you feel creative you can compose our own color combinations in ui elements. You have beutiful set of flat ui colors to work with just use <i>color-{color-name}</i> or <i>background-{color-name}</i> to change text color or background of any element on the page.</p>
                <p class="buttons"><a href="/services/clients.html" class="btn btn-lead">Read more</a></p>
              </div>
            </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="thumbnail info-thumbnail with-icon background-clouds color-text">
              <img src="/img/img3.jpg" alt="...">
              <div class="icon">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x color-lead-dark"></i>
                  <i class="fa fa-flag fa-stack-1x color-white"></i>
                </span>
              </div>
              <div class="caption bordered background-white">
                <h3>Готовые статьи</h3>
                <p class="description color-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin venenatis velit nibh, sit amet commodo sapien tristique at. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras bibendum erat at ultricies rhoncus.</p>
                <p class="buttons"><a href="#" class="btn btn-lead">Read more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Info thumbnails - END -->

<%= render '/shared/popular' %>