          <tr>
            <td><%= link_to message.user.username, message %></td>
            <td><%= message.user.username %></td>
            <td><%= message.user.username %></td>
            <td><%= message.user.username %></td>
          </tr>