<% provide(:title, 'Выполненные заказы') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Статистика</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
<%= render "leftmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Статистика сайта</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <strong>Всего пользователей: </strong><%= User.all.count %><br>
                    <strong>Всего средств на счетах: </strong><%= number_to_currency( User.sum("pocket"), unit: "руб.", separator: ",", delimiter: "", format: "%n %u") %>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>