<% provide(:title, current_user.username) %>


<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/index.html">Главная</a></li>
      <li class="active"><%= current_user.username %></li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

 <section>
      <div class="container">
        <div class="row">
<% if current_user.role == "client" %>
<%= render "/clients/leftmenu" %>
<% elsif current_user.role == "copy" %>
<%= render "/copyrighters/leftmenu" %>
<% elsif current_user.role == "admin" %>
<%= render "/admins/leftmenu" %>
<% end %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Личный кабинет</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Аватар</th>
            <th>Имя</th>
            <th>Выполненные заказы</th>
            <th>Уровень</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>

                  </div>
                </div>
                <br>
                <h1>Сатьи в ожидании</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Дата заказа</th>
            <th>Стоимость</th>
            <th>Автор</th>
            <th>Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>

                  </div>
                </div>

                <br>
                <h1>Архив статей</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Дата заказа</th>
            <th>Стоимость</th>
            <th>Автор</th>
            <th>Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>

                  </div>
                </div>


              </div>


            </div>
          </div>
        </div>
      </div>
    </section>