    <section class="image-bg color-white" style="background-image: url(/image-bg.jpg)">
      <div class="container">
        <div class="reduce-top-margin">
          <h1 class="no-border">Популярные копирайтеры</h1>
          <div class="row">
            <% User.where(:role => "copy").limit(6).each do |copy| %>
              <div class="col-xs-6 col-sm-4 col-md-2">
                <% if copy.avatar.blank? %>
                  <%= link_to image_tag("/unnamed.jpg", :alt => copy.username), copy, :class => "thumbnail gallery-thumbnail" %>
                <% else %>
                  <%= link_to image_tag(copy.avatar.url, :alt => copy.username), copy, :class => "thumbnail gallery-thumbnail" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>