<section>
  <div class="container">
    <h1>Стоимость</h1>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail info-thumbnail background-clouds color-text">
          <div class="pricing-head">
            <div class="pricing-head-body background-emerald">
              <div class="price-wrapper color-white">
                <span class="price">99</span><sup><small>рублей</small></sup><br>
                <span class="per">За Статью</span>
              </div>
            </div>
          </div>
          <div class="special background-midnight-blue color-white"><h3>Бронзовый</h3></div>
          <div class="caption">
            <div class="description">
              <ul class="pricing-list">
                <li>до 500 знаков</li>
                <li>20 копеек за знак</li>
                <li>Любая тематика</li>
                <li>Проверка на оригинальность</li>
                <li>Доработка</li>
              </ul>
            </div>
            <p class="buttons"><a href="/projects" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Заказать</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail info-thumbnail popular background-clouds color-text">
          <div class="pricing-head">
            <div class="pricing-head-body background-peter-river">
              <div class="price-wrapper color-white">
                <span class="price">199</span><sup><small>рублей</small></sup><br>
                <span class="per">За Статью</span>
              </div>
            </div>
          </div>
          <div class="special background-midnight-blue color-white"><h3>Серебрянный</h3></div>
          <div class="caption">
            <div class="description">
              <ul class="pricing-list">
                <li>до 1 200 знаков</li>
                <li>17 копеек за знак</li>
                <li>Любая тематика</li>
                <li>Проверка на оригинальность</li>
                <li>Доработка</li>
              </ul>
            </div>
            <p class="buttons"><a href="/projects" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Заказать</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail info-thumbnail background-clouds color-text">
          <div class="pricing-head">
            <div class="pricing-head-body background-sun-flower">
              <div class="price-wrapper color-white">
                <span class="price">299</span><sup><small>рублей</small></sup><br>
                <span class="per">За Статью</span>
              </div>
            </div>
          </div>
          <div class="special background-midnight-blue color-white"><h3>Золотой</h3></div>
          <div class="caption">
            <div class="description">
              <ul class="pricing-list">
                <li>до 2 300 знаков</li>
                <li>13 копеек за знак</li>
                <li>Любая тематика</li>
                <li>Проверка на оригинальность</li>
                <li>Доработка</li>
              </ul></div>
            <p class="buttons"><a href="/projects" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Заказать</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail info-thumbnail background-clouds color-text">
        <div class="pricing-head">
            <div class="pricing-head-body background-amethyst">
              <div class="price-wrapper color-white">
                <span class="price">399</span><sup><small>рублей</small></sup><br>
                <span class="per">За Статью</span>
              </div>
            </div>
          </div>
          <div class="special background-midnight-blue color-white"><h3>Платиновый</h3></div>
          <div class="caption">
            <div class="description">
              <ul class="pricing-list">
                <li>до 4 400 знаков</li>
                <li>9 копеек за знак</li>
                <li>Любая тематика</li>
                <li>Проверка на оригинальность</li>
                <li>Доработка</li>
              </ul></div>
            <p class="buttons"><a href="/projects" class="btn btn-primary"><span class="fa fa-shopping-cart"></span> Заказать</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>