
           <div class="col-md-3">

            <h3>Archives</h3>
            <ul class="side-list">
              <li><a href="#">August 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">December 2013</a></li>
            </ul>
            <h3>Category</h3>
            <ul class="side-list">
              <li><a href="#">Webdesign</a></li>
              <li><a href="#">Programming</a></li>
              <li><a href="#">Freebies</a></li>
              <li><a href="#">Others</a></li>
            </ul>
          </div>