          <div class="col-md-3">


            <div class="list-group bright background-clouds color-text">
              <div class="list-group-item"><h3>Меню клиента</h3></div>
              <%= link_to "Личный кабинет", current_user, :class => "list-group-item" %>
              <%= link_to "Сообщения", messages_path, :class => "list-group-item" %>
              <a href="/clients/pay.html" class="list-group-item">Пополнить счёт</a>
              <a href="/clients/copy.html" class="list-group-item">Список копирайтеров</a>
              <a href="/clients/articles.html" class="list-group-item">Готовые тексты по категориям</a>
            </div>
            <ul class="list-group background-lead color-white">
              <li class="list-group-item">
                <span class="badge background-white color-lead">14</span>
                <a href="/projects">Ваши проекты</a>
              </li>
              <li class="list-group-item">
                <span class="badge background-white color-lead">14</span>
                <a href="/clients/complite.html">Выполненные заказы</a>
              </li>
              <li class="list-group-item">
                <span class="badge background-white color-lead">2</span>
                <a href="/clients/wait.html">Заказы в ожидании</a>
              </li>
              <li class="list-group-item">
                <span class="badge background-white color-lead">1</span>
                <a href="/clients/work.html"> Заказы в работе </a>
              </li>
              <li class="list-group-item">
                <span class="badge background-white color-lead">1</span>
                <a href="/clients/correct.html">Заказы на корректировке</a>
              </li>
            </ul>
          </div>