<% provide(:title, 'Спиосок копирайтеров') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Список копирайтеров</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
<%= render "/shared/whatmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Информация о Вашем счётех</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <p>На вашем счёте 
                      <% if current_user.pocket.blank? %>
                        0 руб.
                      <% else %>
                        <%= number_to_currency( current_user.pocket, unit: "руб.", separator: ",", delimiter: "", format: "%n %u") %></p>
                      <% end %>
                  </div>
                </div>
<br><br>

                <h1>Положить деньги на счёт</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
asd
<%= payment_sdasdservice_for @payment.id, AppConfig.robokassa_login,
                        :amount =>  @payment.amount,
                        :service => :robokassa,
                        :secret => AppConfig.robokassa_secret do |s| %>
  <%= submit_tag "Submit" %>
<% end %>

                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </section>