          <div class="col-md-3">


            <div class="list-group bright background-clouds color-text">
              <div class="list-group-item"><h3>Меню копирайтера</h3></div>
              <%= link_to "Личный кабинет", current_user, :class => "list-group-item" %>
              <a href="/copyrighters/messages.html" class="list-group-item">Сообщения</a>
              <a href="/copyrighters/pull.html" class="list-group-item">Вывести средства</a>
              <a href="/copyrighters/copy.html" class="list-group-item">Список копирайтеров</a>
              <a href="/copyrighters/articles.html" class="list-group-item">Готовые тексты по категориям</a>
            </div>
            <ul class="list-group background-lead color-white">
              <li class="list-group-item">
                <span class="badge background-white color-lead">14</span>
                <a href="/clients/home.html">Новые заказы</a>
              </li>
              <li class="list-group-item">
                <span class="badge background-white color-lead">4</span>
                <a href="/clients/complite.html">Выполненные заказы</a>
              </li>
              <li class="list-group-item">
                <span class="badge background-white color-lead">1</span>
                <a href="/clients/work.html"> Заказы в работе </a>
              </li>
              <li class="list-group-item">
                <span class="badge background-white color-lead">1</span>
                <a href="/clients/correct.html">Заказы на корректировке</a>
              </li>
            </ul>
          </div>