<% provide(:title, 'Спиосок копирайтеров') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Список копирайтеров</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
<%= render "leftmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Ваши сообщения</h1>

                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
<h4>Последнее сообщение</h4>
<p>Текста последнего сообщения. Текста последнего сообщения. Текста последнего сообщения. Текста последнего сообщения. Текста последнего сообщения.</p>
<p><strong>Иванов Иван</strong> 12.04.2013</p>

                  </div>
                </div>
<br>

                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
<h4>Все сообщения</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <%= render mailbox.inbox %>
            <th>Аватар</th>
            <th>Имя</th>
            <th>Новых сообщений</th>
            <th>Всего сообщений</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>
<%= link_to 'Start Conversation', :new_conversation %>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </section>