<% provide(:title, 'Спиосок копирайтеров') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Список копирайтеров</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
          <%= render "shared/whatmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Готовые статьи</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <form class="form-horizontal" role="form">
                      <div class="form-group">
                        <lable><strong>Фильтр по категориям</strong></lable>
                        <select multiple class="form-control">
                          <option>Автомобили</option>
                          <option>Велосипеды</option>
                          <option>Компьютеры</option>
                          <option>Креатив</option>
                          <option>Строительство</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary">Выбрать</button>
                    </form>


                  </div>
                </div>
                <br>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

                    <table class="table table-bordered">
                      <thead>
                        <h4>Название статьи</h4>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2 125 символов</td>
                          <td><a href="#">Инокентий</a></td>
                          <td>199 рублей</td>
                          <td>Автомобили</td>
                        </tr>
                      </tbody>
                    </table>
                    <p>Краткое описание, очень краткое описание содержания статьи. Можно это ещё названить синонимом выражения "краткое описание" - аннотация статьи.</p>
                    <p><a href="#" class="btn btn-success" style="float: right; display: inline;">Купить</a></p><br>
                  </div>
                </div>
<br>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

                    <table class="table table-bordered">
                      <thead>
                        <h4>Название статьи</h4>
                      </thead>
                      <tbody>
                        <tr>
                          <td>2 125 символов</td>
                          <td><a href="#">Инокентий</a></td>
                          <td>199 рублей</td>
                          <td>Автомобили</td>
                        </tr>
                      </tbody>
                    </table>
                    <p>Краткое описание, очень краткое описание содержания статьи. Можно это ещё названить синонимом выражения "краткое описание" - аннотация статьи.</p>
                    <p><a href="#" class="btn btn-success" style="float: right; display: inline;">Купить</a></p><br>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>